{
  "env": {
    "GOOGLE_ANALYTICS": "UA-40790507-1",
    "NODE_ENV": "production"
  },
  "alias": "DOMAIN_GOES_HERE",
  "scale": {
    "sfo1": {
      "min": 1,
      "max": "auto"
    }
  },
  "static": {
    "trailingSlash": false
  }
}
